/* selectors */
/* global selectors */
/* id selectors */
/* classes */
.box {
    background: red;
    /* pixels px*/
    /* points pt*/
    /* inches in*/
    /* rem rem*/
    height: 50px;
    width: 50px;

    /* layouts */
    /* two types of layouts */
    /* flex layout */
    /* grid layout */

    /* for spacing */
    /* padding */
    /* margin */
    margin: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;

    /* padding */
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.box-holder {
    display: flex;
}

.box-holder2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.box2 {
    height: 30px;
    width: 30px;
    background: blue;

    margin-right: 20px;
    margin-top: 20px;
}

/* TO show padding */
.container {
    display: flex;
    /* flex direction > row */
    background: blue;
    /* height: 100px;
    width: 100px; */
    padding: 50px;
    flex-wrap: wrap;
    /* flex direction > column */
}

.boxes {
    height: 50px;
    width: 50px;
    background: red;
    margin-left: 20px;
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    height: 200px;
    width: 100%;
    background: green;

    /* does not work without display flex */
    /* affects top to bottom */
    align-items: center;
    /* affects left to right */
    /* contents not items */
    justify-content: center;
}

.items {
    height: 50px;
    width: 50px;
    background: yellow;
    margin-left: 10px;
}

body {
    display: flex;
    background: black;
}
